SERVER_PORT=8085

MONGO_HOST=localhost
MONGO_PORT=27017

MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=admin_password
MONGO_INITDB_DATABASE=payment_db

KAFKA_PORT=9092

JWT_SECRET=your_long_sequence_of_numbers_for_jwt_validation_must_match_auth_service

RANDOM_API_URL=https://www.random.org/integers/?num=1&min=1&max=100&col=1&base=10&format=plain&rnd=new